<!DOCTYPE html>
<html>
<head>
  <title>Major Project</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
    }
    h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
    p {
      font-size: 18px;
      margin-bottom: 10px;
    }
    ol {
      display: inline-block;
      text-align: left;
      width: 60%;
      margin-left: 20%;
    }
    li {
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <h1>Major Project</h1>
  <p>This project is made by Vivek Joshi as a part of a major project.</p>
  <h2>Contributors</h2>
  <ol>
    <li>
      <p>Vivek Joshi</p>
      <p>Email: joshivivek56743@gmail.com</p>
    </li>
    <li>Tanya Baloni</li>
    <li>Aman Dasila</li>
  </ol>
</body>
</html>
